.DateRangePickerInput {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    align-items: center;
}

.DateRangePickerInput_clearDates,
.DateRangePickerInput_calendarIcon {
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
}

.DateRangePickerInput_clearDates {
    position: static;
    top: auto;
    right: auto;
    transform: none;
}

.DateInput {
    flex: 1 0 auto;
    width: 75px;
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.1875em;
    align-items: center;
}

.DateInput_input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.DateInput_input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 6px 0 7px;
    text-align: start;
    display: block;
    min-width: 0;
    box-sizing: content-box;
    background: none;
    -webkit-tap-highlight-color: transparent;
}